.anxiety {
    width: 100%;
    position: relative;
    height: 50vh;
    background: url(../../assets/anxiety-bg.jpg) no-repeat center center/cover;
}

.anxiety .content {
    margin-top: 10%;
    position: absolute;
    justify-content: center;
    margin-left: 50%;
}

.anxiety h1 {
    color: #f8f8f8;
    font-size: 60px;
}

.anxiety .blue {
    color: var(--primary-color);
}




/* ----------------------------------> SECTION */

.anxietySection {
    width: 100%;
    height: 70vh;
    background: rgba(0, 0, 0, 0);
    position: relative;
}


.anxietySection .anxietyContent {
    position: absolute;
    margin-top: 10%;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;
}

.anxietySection h1 {
    color: #000000;
    font-size: 60px;
}

.anxietySection .blue {
    color: var(--primary-color);
}



@media screen and (max-width: 940px) {
    
    .anxiety .content {
        flex-direction: column;
        justify-content: center;
        padding: 5rem 2rem;
    }

    
}