.home-section {
    width: 100%;
    height: 20vh;
    background: white;
}

.home-section .container {
    position: absolute;
    display: flex;
    padding: 0%;
}

.home-section .content {
    height: 75vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

.home-section h1 {
    color: var(--primary-color);
    margin: 2rem;
}

.home-section .content p {
    align-items: center;
    margin-left: 20rem;
    margin-right: 20rem;

}


/* SECTION THREE */

.section-three {
    text-align: center;
    margin-top: 2rem;
}

.section-three h1 {
    color: var(--primary-color)
}

/* WHAT WE DO */

.service-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5rem;
}

.service-3 span {
    font-size: 2rem;
}

.service-3-description {
    width: 50%;
    text-align: justify; 
    margin-top: 1rem;   
}

.service-3-image {
    width: 40%; 
}


.service-3-image img {
    border-radius: 1rem;
    width: 100%;
}


/* INSURANCE LOGOS */

.InsuranceSection {
    width: 100%;
    height: 50vh;
    position: relative;
}

.InsuranceSection .content {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0;
    /* top: 30%; */
    width: 100%;
}

.InsuranceSection .content p {
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
}

.InsuranceSection .content h1 {
    color: var(--primary-color);
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
}

.insurance-thumbnail img {
    margin: 5px;
    width: 200px;
    padding: 5px;
    border: 3px solid var(--primary-color);
    border-radius: 1rem;
}

.InsuranceSection .flex-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.InsuranceSection button {
margin: auto;
margin-top: 1rem;
}

@media screen and (max-width: 940px) {
    .InsuranceSection .content {
        left: 0;
        width: 100%;
        padding: 1rem;
        /* background: rgba(255, 255, 255, .7); */
        margin-top: -3rem;
    }

    .InsuranceSection {
        height: 50vh;
    }

    .testimInsuranceSectiononials h2 {
        font-size: 25px;
    }

    .InsuranceSection p {
        font-size: 15px;
    }

    .hero .content {
        margin-left: 1rem;
    }

    .home-section .content p {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .service-3-image img {
        display: none;
    }

    .service-3-description {
        width: 100%;
        text-align: justify; 
        margin-top: 0;   
    }
    
}
